@keyframes background {
    0% {
        background-color: red;
    }

    50% {
        background-color: rgb(76, 0, 255);
    }

    100% {
        background-color: red;
    }
}

body {
    animation-name: background;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}