.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #ffffff;
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
}
/*The class for th defintion texts*/
.Text {
    text-align: center;
    font-size: 20px;
}